body{
  margin: 0;
  padding:0
}

.fullScreenPhoto{
  width: 100%;
  margin:0;

  background-color:rgba(0,198,171,0.9);
}

.fullScreenPhoto2{
  width: 100%;
  min-height:300px;
  margin:0;
  background-color: #fff;
}
.fullScreenPhoto3{
  width: 100%;
    margin:0;
  height:300px;
  background-color: yellow;
}

video {
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}



.video-parallax {
    -webkit-transition-position: fixed;
    position: fixed;
}
