body{
  margin: 0;
  padding:0;
  font-family: "museo-sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.fullScreenPhoto{
  width: 100%;
  margin:0;
  background-color:rgba(0,198,171,0.96);
}

.mainFeatures{
  width: 100%;
  min-height:300px;
  margin:0;
  background-color: #f5f7fa;
}
.contactSection{
  width: 100%;
  margin:0;
  background-color: #fff;
}

video {
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}

.fa-center{
	width: 100%;
	display: inline-block;
	text-align: center;
}

.video-parallax {
    -webkit-transition-position: fixed;
    position: fixed;
}
.card{
  
    margin-bottom: 1.875rem;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: 0 10px 40px 0 rgba(62,57,107,.07), 0 2px 9px 0 rgba(62,57,107,.06);
    box-shadow: 0 10px 40px 0 rgba(62,57,107,.07), 0 2px 9px 0 rgba(62,57,107,.06);
}


.orangeBg{
	background: #F99D19;
	color: #fff;
}

.devOpsBg{
	background: #58E4FA;
	color: #fff;
}
.serverBg{
	background: #00C6AB;
	color: #fff;
}