body{
  margin: 0;
  padding:0;
  font-family: "museo-sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.fullScreenPhoto{
  width: 100%;
  margin:0;
  background-color:rgba(87, 170, 220, 0.86);
}

.mainFeatures{
  width: 100%;
  min-height:300px;
  margin: 0;
  padding-top: 3em;
  background-color: #f5f7fa;
}
.contactSection{
  width: 100%;
  margin:0;
  background-color: #fff;
}

video {
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}

.fa-center{
	width: 100%;
	display: inline-block;
	text-align: center;
}

.video-parallax {
    -webkit-transition-position: fixed;
    position: fixed;
}
.card{
    font-family: "museo-sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 200;
    background-color: transparent;
    margin-bottom: 1.875rem;
    border: none;
    border-radius: 0;
    background: transparent;
    color: #343a40;
    border: 0;
}


.btn-outline-WSorange{
  border-color: #F99D19;
  color: #F99D19;
}
.btn-outline-WSorange:hover{
  background-color : #F99D19;
  color: #fff;
}
.serverMag{
  color: #fc00ff;
}
.serverMagBG{
  color: #fc00ff;
}.serverMagBorder{
  color: #fc00ff;
}