// Override default variables before the import


// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

.btn-primary {
    color: #fff;
    background-color: #58E4FA;
    border-color: #58E4FA;
}

a.logo{
	color: #F99D19 !important;
}

header{
	color: #fff;
	padding: 3em;
	h2{
		padding: 1em;
	}
	button{
		margin:	3em;
	}
}

.mainFeatures{
	h4{
	font: "museo-sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	}
}